@import "tailwindcss";
html,
body,
#root {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  color: rgb(17 24 39 / 1);
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100%;
}
